<?xml version="1.0"?>

<robot name="radio_model">
  
<link name="world"/>

<link name="radio_model_base_link">
    <visual>
      <geometry>
        <mesh filename="package://radio_model/radio_model_description/meshes/plug.stl"/>
      </geometry>

      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
</link>



<joint name="radio_model_base_joint" type="fixed">
	<parent link="world"/>
    	<child link="radio_model_base_link"/>
    	<origin xyz="0 0 0"/>
</joint>



</robot>
