<?xml version="1.0"?>
<launch>

	<arg name="use_rviz" 			default="True" />

	<arg name="use_table_broadcaster" 	default="True"/>
	<arg name="use_broadcaster"		default="False"/>

	<arg name="save_path"			default="/home/guillaume/roscode/catkin_ws/src/objects/save"/>
	<arg name="load_saved"			default="False"/>

	<arg name="origin"			default="0 0 0"/>
	<arg name="orientation"			default="0 0 0 1"/>


	<group ns="radio">
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find objects)/urdf/radio.xacro'" />
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

		<group if="$(arg use_table_broadcaster)">
			<node name="table_broadcaster" type="table_broadcaster" pkg="table_broadcaster" 
			      args="-fixed_frame world -target_frame_vision radio_root -target_frame_rviz radio_link -origin $(arg origin) -orientation $(arg orientation) 
				    -save $(arg save_path) -load $(arg load_saved) -rate 100" output="screen"
			/>
		</group>
		<group if="$(arg use_broadcaster)">
			<node pkg="tf" type="static_transform_publisher" name="radio_broadcaster" args="$(arg origin) $(arg orientation) world radio_link 100" />
		</group>

	</group>




	<group if="$(arg use_rviz)">	
		<node name="rviz" pkg="rviz" type="rviz"  args="-d $(find objects)/launch/rviz/radio.rviz"  required="true" />
	</group>





</launch>
